body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    background: #eee url({image:image background}) repeat;
    color: #000;
    font-size: 0.9em;
    font-weight: 300;
}

a, a:visited {
	text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out; }

a:hover {
    -webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out; }

.text-center {
	text-align: center;
}
.no-scroll {
	overflow-y: hidden;
}
.scroll {
	overflow-y: auto;
}

/*
*   HEADER =======================================
*/
.buttons-container,
.iframe-controls-container {
    display: none !important;
    display: none;
}
body > iframe { display: none !important; }

h1, h2 {
    font-family: 'Oswald', 'Open Sans', arial, sans-serif;
		font-weight: 300;
		text-transform: uppercase;
}
h1 {
    font-size: 4em;
    font-weight: 400;
}
h2 {
	font-size: 2.5em;
}
.container {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  max-width: 380px;
  width: 92%;
	position: relative;
}
.container img.portrait {
    border-radius: 100%;
}
.container h1 {
    margin: 0;
}
a.ico {
    margin-left: 6px;
    margin-right: 6px;
}
a.ico, a.ico:link, a.ico:visited {
    color: black;
}
a.ico:hover {
    color: seagreen;
}
/* -----------------------------------------------*/

/*
*		PORTFOLIO =============================
*/
.portfolio-container {
	width: 90%;
	max-width: 800px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
}
.portfolio-item {
	width: 100%;
	display: flex;
	padding: 50px 0;
}
.portfolio-item img, .portfolio-popup img, .img {
	width: 100%;
	display: block;
}
.portfolio-col {
	width: 50%;
	position: relative;
}
.portfolio-item .col-img {
}
.portfolio-item .col-info {
	align-self: center;
	text-align: justify;
}
.portfolio-item:nth-child(even) .col-img {
	left: 50%;
}
.portfolio-item:nth-child(even) .col-info {
	right: 50%;
	padding-right: 50px;
}
.portfolio-item:nth-child(odd) .col-info {
	padding-left: 50px;
}

.portfolio-item h3 {
	font-family: 'Oswald', 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 0;
}
.portfolio-tags {
	padding-top: 0;
	margin-top: 0;
	text-transform: uppercase;
	color: #999;
	font-size: 0.8em;
}
.portfolio-tags .tag span {
	margin-right: 4px;
}
/*
*		portfolio popu8p
*/
.portfolio-popup .nav-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	background: #eee;
	width: 100%;
	text-align: left;
}
.portfolio-popup .nav-popup h2 {
	width: 90%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.5em;
}
.portfolio-popup .nav-popup .icon-back {
	vertical-align: 0;
	margin-right: 10px;
}

.portfolio-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0,0,0,0.85);
	background: #eee;
	overflow-y: auto;
	visibility: hidden;
}
.popup-open {
	opacity: 1;
	visibility: visible;
}
.popup-close {
	opacity: 0;
	visibility: hidden;
}

.popup-container {
	position: relative;
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #eee;
	text-align: left;
	padding: 60px 0;
}
.popup-container .text,
.popup-container .img {
	position: relative;
	top: 0;
	left: 0;
	padding: 0em;
}
.popup-open .popup-container .text {
	top: 0px;
}
.popup-open .popup-container .img {
	top: 0px;
}
.popup-close .popup-container .text {
	top: 20px;
}
.popup-close .popup-container .img {
	top: -20px;
}

.popup-open,
.popup-close {
	-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.popup-container .text,
.popup-container .img {
	-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*
*		CAROUSEL =============================
*/

/*
*		CONTACT =============================
*/
.contact {
	position: relative;
	background: PaleTurquoise;
	height: 80%;
	background:
	/*linear-gradient(
      rgba(75, 197, 180, 0.85),
      rgba(75, 197, 180, 0.85)
    ),*/
		url('https://static.tumblr.com/ta26uqw/l8wp1j4kv/pineapple3.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 2;
}
.contact::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: lightseagreen;
	opacity: 0;
	z-index: 1;
}
.contact .centered {
	z-index: 3;
}

/*
*		MEDIA QUERIES =============================
*/


@media (max-width: 600px) {
	.portfolio-item:nth-child(even) .col-img {
		left: 0%;
	}
	.portfolio-item:nth-child(even) .col-info {
		right: 0%;
		padding-right: 0;
	}
	.portfolio-item:nth-child(odd) .col-info {
		padding-left: 0;
	}
	.portfolio-item {
		flex-wrap: wrap;
	}
	.portfolio-col {
		width: 100%;
	}
}
