body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-x: hidden;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', Calibri, Arial, sans-serif;
    background: #eee url({image:image background}) repeat;
    color: #000;
    font-size: 0.9em;
    font-weight: 300;

}
a, a:link, a:visited {
	text-decoration: none;
	color: #b2d587;
}

a, a:link, a:visited {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-weight: 400;
	position: relative;
	text-transform: uppercase;
	}
a::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	margin-top: 1px;
	background: black;
}
a:hover::after {
	margin-top: 4px;
}
a, a:link, a:visited,
a:hover, a::after, a:hover::after {
  -webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out; }

.text-center {
	text-align: center;
}
.text-left { text-align: left; }
.no-scroll {
	overflow-y: hidden;
}
.scroll {
	overflow-y: auto;
}
.img-circle {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

/*
*   HEADER =======================================
*/
.buttons-container,
.iframe-controls-container {
    display: none !important;
    display: none;
}
body > iframe { display: none !important; }

h1, h2 {
    font-family: 'Oswald', 'Open Sans', arial, sans-serif;
		font-weight: 300;
		text-transform: uppercase;
}
h1 {
    font-size: 4em;
    font-weight: 400;
}
h2 {
	font-size: 2.5em;
}
.show-on-mobile {
	display: none;
}
.flex {
	display: flex;
}
.cursor-pointer {
	cursor: pointer;
}
.container {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  max-width: 550px;
  width: 92%;
	position: relative;
}
.container img.portrait {
    border-radius: 100%;
}
.container h1 {
    margin: 0;
}
.gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87d5b5+0,b2d587+100 */
	background: #87d5b5; /* Old browsers */
	background: -moz-linear-gradient(45deg, #87d5b5 0%, #b2d587 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #87d5b5 0%,#b2d587 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #87d5b5 0%,#b2d587 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d5b5', endColorstr='#b2d587',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.hero h1 {
	font-size: 3.5em;
	font-weight: 600;
	line-height: 115%;
}
.hero h1.giant {
	color: white;
	font-size: 6em;
}
.hero .centered {
	border: 0px solid black;
	max-width: 600px;
}

.hero a, .hero a:link, .hero a:visited {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-weight: 400;
	position: relative;
	font-size: 1em;
	text-transform: none;
	}
.hero a::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	margin-top: 1px;
	background: black;
}
.hero a:hover::after {
	margin-top: 4px;
}
a.ico {
    margin-left: 6px;
    margin-right: 6px;
}
a.ico, a.ico:link, a.ico:visited {
    color: black;
}
a.ico:hover {
    color: seagreen;
}

/* -----------------------------------------------*/

/*
*		ABOUT =============================
*/
section.about {
	position: relative;
	background: white;
}
.container.aboutt {
	height: auto;
	padding: 100px 0;
}
section.about .centered {
	max-width: 800px;
}
.img-about {
	width: 80%;
	max-width: 350px;
}
.about-title {
	font-weight: 600;
	font-size: 3.5em;
	color: #A0D5A1;
	margin: 0;
}
.about .col-info {
	padding-left: 20px;
}
.img-profile {
	position: absolute;
	left: 50%;
	bottom: 0;
}
.img-profile img {
	display: block;
}

/*
*		PORTFOLIO =============================
*/
/*
.portfolio .title {
	display: inline-block;
	border: 2px solid #b2d587;
	padding: 1.5em;
	margin: 100px auto 0;
}
*/
.portfolio .title {
	font-weight: 600;
	margin-top: 100px;
	margin-bottom: 0;
	display: inline-block;
	color: #A0D5A1;
	padding: 10px 25px;
}
.portfolio-container {
	width: 90%;
	max-width: 800px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
}
.portfolio-item {
	width: 100%;
	display: flex;
	margin: 100px 0;
	cursor: pointer;
}
.portfolio-item img, .portfolio-popup img, .img {
	width: 100%;
	display: block;
}
.portfolio-col {
	width: 50%;
	position: relative;
}
.col-img {
}
.col-info {
	align-self: center;
	text-align: justify;
}
.portfolio-item:nth-child(even) .col-img {
	left: 50%;
}
.portfolio-item:nth-child(even) .col-info {
	right: 50%;
	padding-right: 50px;
}
.portfolio-item:nth-child(odd) .col-info {
	padding-left: 50px;
}

.portfolio-item h3,
.portfolio-popup h3 {
	font-family: 'Oswald', 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 0;
	color: #A0D5A1;
}
.portfolio-tags {
	padding-top: 0;
	margin-top: 0;
	text-transform: uppercase;
	color: #999;
	font-size: 0.8em;
}
.portfolio-tags .tag span {
	margin-right: 4px;
}
.portfolio-tools {
	/*color: #b2d587;*/
	padding-top: 10px;
}
.portfolio-tools span {
	background: #A0D5A1;
	color: black;
	padding: 4px 8px;
	margin: 0 4px;
}
/*
*		portfolio popu8p
*/
.portfolio-popup .nav-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	background: #eee;
	width: 100%;
	text-align: left;
}
.portfolio-popup .nav-popup h2 {
	width: 90%;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.5em;
}
.portfolio-popup .nav-popup .icon-back {
	vertical-align: 0;
	margin-right: 10px;
}

.portfolio-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0,0,0,0.85);
	background: #eee;
	overflow-y: auto;
	visibility: hidden;
}
.popup-open {
	opacity: 1;
	visibility: visible;
}
.popup-close {
	opacity: 0;
	visibility: hidden;
}

.popup-container {
	position: relative;
	width: 90%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #eee;
	text-align: left;
	padding: 60px 0;
}
.popup-container .text,
.popup-container .img {
	position: relative;
	top: 0;
	left: 0;
	padding: 0em;
}
.popup-open .popup-container .text {
	top: 0px;
}
.popup-open .popup-container .img {
	top: 0px;
}
.popup-close .popup-container .text {
	top: 20px;
}
.popup-close .popup-container .img {
	top: -20px;
}

.popup-open,
.popup-close {
	-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.popup-container .text,
.popup-container .img {
	-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/*
*		CAROUSEL =============================
*/

/*
*		CONTACT =============================
*/
.contact {
	position: relative;
	background: PaleTurquoise;
	height: 80%;
	background:
	/*linear-gradient(
      rgba(75, 197, 180, 0.85),
      rgba(75, 197, 180, 0.85)
    ),*/
		url('https://static.tumblr.com/ta26uqw/l8wp1j4kv/pineapple3.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 2;
}
.contact::after {
	background: #87d5b5; /* Old browsers */
	background: -moz-linear-gradient(45deg, #87d5b5 0%, #b2d587 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #87d5b5 0%,#b2d587 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #87d5b5 0%,#b2d587 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d5b5', endColorstr='#b2d587',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 1;
}
.contact .centered {
	z-index: 3;
}
/* SLIDES
============================================
*/
/*
essential styles:
these make the slideshow work
*/
#slides {
  position: relative;
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.always-relative {
	position: relative;
}

.showing {
  opacity: 1;
  z-index: 2; }


/*
*		MEDIA QUERIES =============================
*/


@media (max-width: 600px) {
	.hide-on-mobile {
		display: none;
	}
	.show-on-mobile {
		display: block;
	}
	h1 {
		font-size: 9vw;
	}
	.hero h1.giant,
	h1.giant {
		font-size: 21vw;
	}

	.about-title {
		margin-top: 0.7em;
		font-size: 11vw;
	}

	.portfolio-item:nth-child(even) .col-img {
		left: 0%;
	}
	.portfolio-item:nth-child(even) .col-info {
		right: 0%;
		padding-right: 0;
	}
	.portfolio-item:nth-child(odd) .col-info {
		padding-left: 0;
	}
	.portfolio-item, .flex {
		flex-wrap: wrap;
	}
	.portfolio-col {
		width: 100%;
	}

}
